.make-recipe-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin-left: 7%;
  margin-top: 2em;
}
.make-recipe-ingredient-card {
  border: solid green;
  width: 23%;
  height: 25vh;
  border-radius: 20px;
}
.make-recipe-ingredient-image {
  width: 80%;
  height: 80%;
}
.make-recipe-last-row-container {
  display: flex;
  justify-content: space-evenly;
}

.make-recipe-ingredient-details {
  background-color: aqua;
  position: fixed;
  width: 70%;
  height: 70vh;
  top: 20vh;
  left: 25vh;
  opacity: 0;
}
.modal-container {
  background-color: #5cb85c;
  color: white;
  font-weight: bold;
  position: fixed;
  width: 60%;
  height: 80vh;
  top: 15vh;
  left: 40vh;
}
.modal-up-row {
  display: flex;
  justify-content: space-between;
  border-bottom: solid green 1px;
  padding: 1em;
  margin-bottom: 1em;
}
.modal-exit {
  cursor: pointer;
}
.modal-body {
  display: flex;
  height: 90%;
}
.modal-left-side {
  width: 70%;
  height: 100%;
}
.modal-ingredient-description {
  height: 60%;
  /* overflow-y: scroll; */
  /* position: relative; */
}
.modal-ingredient-picture {
  width: 50%;
  height: 40%;
  float: left;
}
.modal-ingredient-image {
  width: 100%;
  height: 100%;
}
.modal-nutrient-container {
  width: 90%;
  margin: auto;
}
.nutrient-row {
  display: flex;
  justify-content: space-between;
}
.modal-right-side {
  background-color: orange;
  height: 100%;
  width: 40%;
}
.nutrient-name {
  font-weight: bold;
}
.make-recipe-ingredient-name {
  font-weight: bold;
  cursor: pointer;
}
.make-recipe-ingredient-add {
  background-color: orange;
  padding: 0.2em;
  border-radius: 20px;
  color: #5cb85c;
  font-weight: bold;
  cursor: pointer;
}
.make-recipe-ingredient-remove {
  background-color: orange;
  padding: 0.2em;
  border-radius: 20px;
  color: red;
  font-weight: bold;
  cursor: pointer;
}
.intro-make-recipe {
  width: 90%;
  height: 30vh;
  margin: auto;
}
.intro-make-recipe-img {
  width: 100%;
  height: 100%;
}
.intro-make-recipe-img-pic {
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.intro-make-recipe-text {
  position: relative;
  top: -100%;
  font-size: 3em;
  color: orange;
  background-color: rgb(92, 184, 92, 0.7);
  padding: 3%;
  font-family: "Trebuchet MS";
}
.modal-right-side-title {
  padding: 0.5em;
  font-size: 1.5em;
}
