.planner {
  margin: 20px auto;
  max-width: 800px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.week {
  display: flex;
  flex-wrap: wrap;
}

.day {
  width: 100%;
  margin-right: 10px;
}

.day h3 {
  text-align: center;
}

.hour {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.time {
  margin-right: 10px;
  width: 60px;
}
